config telemt 'general'
	option enabled '0'
	option mode 'tls'
	option domain 'google.com'
	option port '4443'
	option metrics_port '9092'
	option api_port '9091'
	option api_enabled '1'
	option minimal_runtime_enabled '1'
	option metrics_allow_lo '1'
	option metrics_allow_lan '1'
	option log_level 'normal'
	option use_middle_proxy '0'
	option use_stun '0'
	option listen_ipv4 '1'
	option listen_ipv6 '0'
	option prefer_ip '4'
	option update_every '300'
